# PyTorch (torch) dependencies
################################################################################
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/lib64"
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/nfs/software/ensembl/RHEL74-dev/linuxbrew/lib"
################################################################################


# NVIDIA CUDA
################################################################################
CUDA_VERSION="10.1"

[[ -s "/usr/local/cuda-${CUDA_VERSION}" ]] && export CUDA_HOME="/usr/local/cuda-${CUDA_VERSION}"
[[ -s "${CUDA_HOME}/bin" ]] && export PATH="${PATH}:${CUDA_HOME}/bin"
[[ -s "${CUDA_HOME}/lib64" ]] && export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${CUDA_HOME}/lib64"
################################################################################
