# PyTorch (torch) dependencies
################################################################################
#LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/lib64"
#LINUXBREW_HOME="/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew"
#LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$LINUXBREW_HOME/lib"
#export LD_LIBRARY_PATH
################################################################################


# NVIDIA CUDA
################################################################################
#CUDA_VERSION="10.1"
CUDA_VERSION="11.0"

if [[ -s "/usr/local/cuda-$CUDA_VERSION" ]]; then
    #export CUDA_HOME="/usr/local/cuda"
    export CUDA_HOME="/usr/local/cuda-$CUDA_VERSION"
    [[ -s "$CUDA_HOME/bin" ]] && export PATH="$PATH:$CUDA_HOME/bin"
    [[ -s "$CUDA_HOME/lib64" ]] && export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$CUDA_HOME/lib64"
fi
################################################################################
