# torch dependencies
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/lib64:/nfs/software/ensembl/RHEL74-dev/linuxbrew/lib"

# CUDA libraries
export PATH="${PATH}:/usr/local/cuda/bin"
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/usr/local/cuda/lib64"
