[tool.poetry]
name = "gene_symbol_classifier"
version = "0.9.0"
description = ""
authors = ["William Stark <william@ebi.ac.uk>"]

[tool.poetry.dependencies]
python = "^3.9"
#torch = {url = "https://download.pytorch.org/whl/cu101/torch-1.7.1%2Bcu101-cp38-cp38-linux_x86_64.whl"}
torch = {url = "https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp39-cp39-linux_x86_64.whl"}
loguru = "^0.5.3"
#pandas = "^1.0.4"
#biopython = "^1.77"
#PyYAML = "^5.4.1"
#tensorboard = "^2.4.1"
#ensembl-rest = "^0.3.3"
#torchmetrics = "^0.3.1"
#PyMySQL = "^1.0.2"

[tool.poetry.dev-dependencies]
#jupyterlab = "^2.1.4"
#pudb = "^2019.2"
#pytest = "^6.1.2"
#matplotlib = "^3.3.4"
#icecream = "^2.1.0"
#plotly = "^5.0.0"
#ipywidgets = "^7.6.3"
#jupytext = "^1.11.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
